.profile__desc {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 920px) {
  .profile__desc {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .profile__desc {
    font-size: 14px;
    line-height: 1.22;
  }
}